body {
    font-family: "Arvo", serif;
    font-weight: 400;
    font-style: normal;
    display:flex;
    flex-direction: row;
    background-color:skyblue
  }
  
  .hidden {
    display: none;
  }

  .main-game-section{
    display:flex;
    flex-direction: column;
    width:75%

  }

  header{
    text-align: center;
  }

  .header {
    /* display: flex; */
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
  }

  .human-win-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    /* background-color: white; */
  }

  .main-title{
    font-size: 80px;
  }

  .human-win-section {
    display: flex;
    border: black solid 1px;
    width:25%
  }

  .computer-win-section {
    display: flex;
flex-direction: column;
justify-content: start;
align-items: center;
flex-wrap: wrap;
width:25%;
border: 1px solid black;
height: 100vh;
  }

  .game-type-section{
    display:flex;
    flex-direction: column;
    align-items: center;
  }
 

  .difficult-game-box,
  .classic-game-box {
    display: flex;
    align-items: center;
    flex-direction: column;
    background-color: rgb(0, 213, 255);
    width:280px;
    margin-bottom: 20px;
  }

  .difficult-game-box > h3,
  .classic-game-box > h3 {
    margin:0%
  }